%footer.footer
  .container
    .footer-links.text-center
      %a{:href => "/home/about_us"} About Us
      %a{:href => "/home/help"} Help
      %a{:href => "/home/press"} Press
      %a{:href => "/home/terms"} Terms
      %a{:href => "/home/privacy_policy"} Privacy
      %a{:href => "/home/feedback"} Feedback
      %a{:href => "/home/careers"} Careers
      %a{:href => "/home/about_jesus"} About Jesus
      %a{:href => "#"}
      &copy;
      = Time.now.year
      LoveRealm
