%h2 Hi #{@user.full_name},

%p
  You are receiving this mail because a few months ago, you signed up to be notified when LoveRealm, the Christian social network built to connect Christians globally launches.

%p
  Our social network was previously closed to the public as we were testing it with a few thousand users for feedback. Thanks to your feedback however, our network has been completely overhauled and improved.

%p
  This includes an improved design, a unique counseling system that grants every user access to a counselor, and many more. The network is open to the public now and is really fun to use.
%p
= link_to "Please do check us out", root_url
%p
%div.regards
  Kind Regards,
  .ceo
    Dr.Ansong CEO
  .company
    LoveRealm Inc

