%p
  From the moment we released LoveRelam (the social network for Believers) in beta, the most requested feature has been the ability to connect with Christians via a mobile app.

%p
  We listened to our users! Starting today, connecting with Christians worldwide just became effortless! Whether you’re looking for mentors and counselors to help you in your tough moments, or simply looking for daily inspiration and devotion, LoveRealm has you covered! Let’s face it, secular social networks are plagued with noise, nudity and pollution. LoveRealm saves you from that. On LoveRealm, believers are ever ready to answer your mind-boggling questions and share in your weaknesses and strengths.

%p
  What are you waiting for? Get the app now! It’s completely free.
  = link_to "Check it out!", dl_url
%p

%p
%div.regards
  Kind Regards,
  .ceo
    Dr.Ansong CEO
  .company
    LoveRealm Inc

