%p
  Dear
  #{@user.full_name},

%p
  I am writing to you to request your participation in a brief survey that will help us evaluate improve LoveRealm, the social network service built to connect believers across the globe.  Your feedback is very valuable and dear to us and is the only way we can improve our service.

%p
  The survey is very brief and will only take about 4 minutes to complete. Please click the link below to go to the survey Web site (or copy and paste the link into your Internet browser)

%p
  Survey link:
  %a{href: 'https://www.surveymonkey.com/r/Q68JKQT'} https://www.surveymonkey.com/r/Q68JKQT

%p
  Your participation in the survey is completely voluntary and all of your responses will be kept confidential.

%p
  Thank you very much for your time and cooperation.

%div.regards
  Sincerely,
  .ceo
    Dr. Yaw Ansong Jnr,
    %br
    CEO
  .company
    LoveRealm Inc
  %a{href: 'http://www.loverealm.com/'} www.loverealm.com
