%h2 Dear #{@user.full_name},

%p We noticed that you signed up for LoveRealm, the social network built to connect Christians worldwide. We however noticed that you haven’t been with us for a while.

%p Bible says in Hebrews 10:25 that:
“Let us not neglect meeting together, as some have made a habit, but let us encourage one another, and all the more as you see the Day approaching.”

%p The entire community at LoveRealm has really missed you, and we would be very happy to have you back. We hope you come back and start using LoveRealm again.

%p Because we are a bunch of perfectionists, and are always looking to improve our product, any feedback that you are willing to provide us would be much appreciated!

%p Feel free to shoot us an email with your comments.

%p
  %strong We’ve really missed you!
Please come back.

= render '/shared/mailer/unsubscribe'
