%h1
  Dear
  #{@mentor.full_name},

%p
  Congratulations on your new role as a counselor on the LoveRealm community! Bible says in Proverbs 11:14 that
  %i “Where there is no guidance, the people fall, but in abundance of counselors there is victory.”

%p
  Through your role as a counselor, users would message you as and when they need your guidance. We will do well to notify you via email when such inquiries occur. God richly bless you for availing yourself.

%div.regards
  Kind Regards,
  .team
    The team at LoveRealm.
