%div.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left
  .left-menu
    .left-menu-logo
      %a{:href => "#"}
        = image_tag "LogoElement.png", height: 40, width: 40
    %ul.left-nav
      %li
        %a{:href => "#"} HOME
      %li
        %a{:href => "#"} TRENDING
        %ul.left-nav-submenu
          %li
            %a{:href => "#"} #God_Loves_you
          %li
            %a{:href => "#"} #Jesus_Saves
          %li
            %a{:href => "#"} #PayUs
          %li
            %a{:href => "#"} #More
          %li
            %a{:href => "#"} #NoTithe
      %li
        %a{:href => "#"} ABOUT US
      %li
        %a{:href => "#"} PRIVACY POLICY
      %li
        %a{:href => "#"} TERMS OF SERVICE
    .left-menu-social-icons
      %ul
        %li
          %a{:href => "#"}
            %i.fa.fa-twitter
        %li
          %a{:href => "#"}
            %i.fa.fa-facebook
        %li
          %a{:href => "#"}
            %i.fa.fa-google-plus
        %li
          %a{:href => "#"}
            %i.fa.fa-envelope
    .left-menu-copyright
      (c) 2015. LoverRealm WorldWide Outrearch. All rights reserverd.