%nav.navbar.home-navbar.navbar-fixed-top{:role => "navigation"}
  .container
    %ul.nav.navbar-nav.navbar-right
      %li
        - if !user_signed_in?
          #navigation-bar.clearfix
            = link_to "Login", login_path, {class: "login-link"} unless hide_login

    .navbar-footer
      = link_to home_path do
        .navbar-brand.menu-left.push-body
          = image_tag "brand-1542.png"

.home-navbar-background
