%section.search-users-content.row
  .col-sm-9.col-sm-push-1.userlist
    %article.media
      .media-left
        %a
          %img.media-object{:alt => "User avatar", :height => "64px", :src => image_url("icons/profile.png"), :width => "64px"}/
      .media-body
        %h2 Jay Ross        
        %p I'm a simple guy who just wants to make more Christian friends across Canada.        
        %button.follow_button
          Follow
  .col-sm-9.col-sm-push-1.userlist
    %article.media
      .media-left
        %a
          %img.media-object{:alt => "User avatar", :height => "64px", :src => image_url("icons/profile.png"), :width => "64px"}/
      .media-body
        %h2 Jesus Montana        
        %p Why the heck did my parents decide to name me Jesus? It makes me feel wired.
        %button.follow_button
          Un-follow
  