%section.search-page-content.row
  .col-sm-9.col-sm-push-1
    %article.media
      .media-left
        %a
          %img.media-object{:alt => "User avatar", :height => "64px", :src => image_url("icons/profile.png"), :width => "64px"}/
      .media-body.post__thepost
        %h3 Enemies of the cross!
        %img.post__thepost-featured-image.pull-right{:alt => "",  :src => image_url("cross.png")}/
        %p The blood that Jesus shed on me way back on calvary. The blood that from day to day, it will never loose its power. It reaches to the..
        .post__tags
          %a{:href => "", :rel => "tag"} #Jesus_King
          %a{:href => "", :rel => "tag"} #LoveRealm
          %a{:href => "", :rel => "tag"} #cross      
        .post__footer
          %time.post__time
            %span.sr-only Posted
            2 Days ago
          %button.post__like
            %span.sr-only Likes
            200
          %button.post__comments
            %span.sr-only Comments
            7
          %button.post__share
            %span.sr-only Shares
            60
  .col-sm-9.col-sm-push-1
    %article.media
      .media-left
        %a
          %img.media-object{:alt => "User avatar", :height => "64px", :src => image_url("icons/profile.png"), :width => "64px"}/
      .media-body.post__thepost
        %h3 Enemies of the cross!
        %img.post__thepost-featured-image.pull-right{:alt => "",  :src => image_url("cross.png")}/
        %p The blood that Jesus shed on me way back on calvary. The blood that from day to day, it will never loose its power. It reaches to the..
        .post__tags
          %a{:href => "", :rel => "tag"} #Jesus_King
          %a{:href => "", :rel => "tag"} #LoveRealm
          %a{:href => "", :rel => "tag"} #cross      
        .post__footer
          %time.post__time
            %span.sr-only Posted
            2 Days ago
          %button.post__like
            %span.sr-only Likes
            200
          %button.post__comments
            %span.sr-only Comments
            7
          %button.post__share
            %span.sr-only Shares
            60
  .col-sm-9.col-sm-push-1
    %article.media
      .media-left
        %a
          %img.media-object{:alt => "User avatar", :height => "64px", :src => image_url("icons/profile.png"), :width => "64px"}/
      .media-body.post__thepost
        %h3 Enemies of the cross!
        %img.post__thepost-featured-image.pull-right{:alt => "",  :src => image_url("cross.png")}/
        %p The blood that Jesus shed on me way back on calvary. The blood that from day to day, it will never loose its power. It reaches to the..
        .post__tags
          %a{:href => "", :rel => "tag"} #Jesus_King
          %a{:href => "", :rel => "tag"} #LoveRealm
          %a{:href => "", :rel => "tag"} #cross      
        .post__footer
          %time.post__time
            %span.sr-only Posted
            2 Days ago
          %button.post__like
            %span.sr-only Likes
            200
          %button.post__comments
            %span.sr-only Comments
            7
          %button.post__share
            %span.sr-only Shares
            60
  .col-sm-9.col-sm-push-1
    %article.media
      .media-left
        %a
          %img.media-object{:alt => "User avatar", :height => "64px", :src => image_url("icons/profile.png"), :width => "64px"}/
      .media-body.post__thepost
        %h3 Enemies of the cross!
        %img.post__thepost-featured-image.pull-right{:alt => "",  :src => image_url("cross.png")}/
        %p The blood that Jesus shed on me way back on calvary. The blood that from day to day, it will never loose its power. It reaches to the..
        .post__tags
          %a{:href => "", :rel => "tag"} #Jesus_King
          %a{:href => "", :rel => "tag"} #LoveRealm
          %a{:href => "", :rel => "tag"} #cross      
        .post__footer
          %time.post__time
            %span.sr-only Posted
            2 Days ago
          %button.post__like
            %span.sr-only Likes
            200
          %button.post__comments
            %span.sr-only Comments
            7
          %button.post__share
            %span.sr-only Shares
            60