#splash-screen
  .clearfix
    .splash-screen-close
      No thanks
      %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}

  = image_tag "brand-1542.png", class: 'brand-image'


  .splash-screen-text
    %p.subheading
      Just one tap away.

    %p
      Why are you still using the browser?
      %br
      The LoveRealm app is the fastest way to connect with believers worldwide when you're on the go.

  .center-text
    %a.app-market-button{href: 'https://play.google.com/store/apps/details?id=com.loverealm.loverealmmobile'}
      Tap to get LoveRealm app
