.about.holder
	%h1= title 'About Us'
	.about-header
		%ul
			%li
				%a{:href => "#love-realm"} What is LoveRealm
			%li
				%a{:href => "#meet-team"} Meet the team
			%li
				%a{:href => "#our-history"} Our history
		.about-loverealm What exactly is LoveRealm
	.about-founder.clearfix#love-realm
		.founder.pull-left
		.founder-text.pull-left
			%h3 About us
			%p
				%em “We sweat because of our passion: The hope that one day, by our effort and your effort, everyone will come to the saving knowledge of Jesus Christ!”
			%p
				%b Dr. Yaw O. Ansong Jnr, CEO, Founder.
			%p LoveRealm is a Christ centered social network built to connect Christians across the globe, and the only social network in the world with a built in mentorship platform in place.
	.about-bible
		.clearfix
			.text
				%h3 Why Join LoveRealm?

				%h4 Find Christian Mentors
				%p We at LoveRealm believe in Proverbs 11:14: “Where no counsel is, the people fall: but in the multitude of counsellors there is safety. Proverbs 11:14.

				%p One of the core missions of the LoveRealm therefore is to assess the needs of everyone who joins our platform, so as to assign them to a mentor who will guide and enable them deal with their problems and struggles thus ensuring maturity of faith.

				%h4 Develop Christian connections. Everyone is here
				%p LoveRealm provides you with the unique opportunity to connect with Christians both locally and internationally. On LoveRealm, you would be encouraged as well as empowered to encourage other Christians through the unique connections the network allows you to create. Imagine receiving periodic encouraging words from the pastor you admire, or meeting that one special Christian woman you’ve always desired. The possibilities are endless.

				%h4 Deal with your weaknesses and burdens
				%p LoveRealm was created for people like you and me; mere mortals with weaknesses and burdens that need to be dealt with, for the gospel is for such as these. No matter who you are, or what you’re struggling with, we welcome you with open arms to experience the empowerment that comes from the Grace of God. On LoveRealm, you will meet people just like you; people who have struggled with the things you have struggled with. Everyone on LoveRealm is ready to encourage you and share with you how they overcame their burdens.

				%h4 A holy social network experience
				%p We know how it feels like. We’ve been in your shoes before. Social networks these days are filled with nude contents and violence. LoveRealm however ensures a holy social network experience by removing ‘unchristian’ content. This ensures that God is the primal focus of our social network experience.

				%h4 Get inspired and edified
				%p On LoveRealm, you will discover interesting Christian content that edifies and exhorts your spirit. This will ensure you grow in the knowledge of God’s word.

		.text-wide
			%h3 What LoveRealm is not

			%p
				%b LoveRealm is not a place for self righteous people.
				No “scribes and pharisees” are allowed on our platform. We believe we were born sinners. Our righteousness comes from the free gift of Jesus Christ. Our platform is therefore not a place for self righteous people.

			%p
				%b We are not Facebook with a cross on it, Neither are we twitter.
				We’re LoveRealm. LoveRealm is not just a social network with a cross on it, it’s an evangelism platform with the central core of touching the lives of many who are spiritually thirsty.

			%h3 What makes LoveRealm Different?

			%p LoveRealm is the only social network in the world with a built in monitorship system in place. Our network connects millions of Christians globally. We also ensure a Christ centered experience by removing inappropriate material from our network. Profane words for example are banned. The newsfeed of our users is also tuned to show content relevant to the specific spiritual need of the users.

			%h3 Denomination
			%p LoveRealm is independent and non-denominational.

	.about-team#meet-team
		.meet-team Meet the team
		.avatar-content
			.avatar.yaw
				%span
					%a{href: 'https://gh.linkedin.com/pub/yaw-ansong/87/3b4/798'} Dr.Yaw Ansong Jnr
					%br/
					CEO, Co-founder
			.avatar.bojan
				%span
					%a{href: 'https://rs.linkedin.com/pub/bojan-jordanovski/49/657/847'} Bojan Jordanovski
					%br/
					CTO, Co-founder
			.avatar.ansah
				%span
					%a{href: 'https://gh.linkedin.com/pub/solomon-ansah/59/847/61'} Ansah Solomon
					%br/
					VP Church Relations
			.avatar.yawsnr
				%span
					%a{href: 'https://gh.linkedin.com/pub/yaw-ansong-sr/41/6b3/490'} Dr. Yaw Ansong Snr
					%br/
					Co-Founder and CVO
			.avatar.dufie
				%span
					Abena Dufie
					%br/
					VP Media and Marketing

		.others
			Plus 4 Awesome Developers Based in Europe; and a stupendous 5 member marketing/support team in Accra

	.about-history#our-history
		%h3 Our History

		%p
			%em “Every day, I go to work hoping to do two things: to share the word of God with the world and to be the hand that touches the wounded heart.”
		%p
			%b Dr. Yaw Ansong Jnr, CEO and Co-Founder, LoveRealm

		%p Just a few years ago whilst in my dorm as a medical student, in the lonely hours of the day, I longed to share the gospel. This desire was so strong that I decided to start a simple blog through which the gospel would be preached. Soon however, the pressures of medical school came  in. It became apparent to me that this burden was too heavy to carry alone. Friends and family were thus invited to co-author the blog. By this time, LoveRealm had developed into a powerful multi-author blog with several readers across the globe.

		%p Though I preached, I struggled with lust. I discussed this issue with my siblings and it became obvious that I was not alone in this. It became more glaring to me as the months went by that many people had similar dark moments and struggled alone. Through my online work, I discovered scores of people struggling with illnesses and weaknesses all by themselves.

		%p So I challenged my siblings, ‘Why don’t we build a platform where Christians can connect with one another, encouraging themselves and helping themselves with their weaknesses?’. That was a moment of epiphany, and the rest they say is history.

		.pictures
			.picture.history-one
			.picture.history-two
			.picture.history-three
		.pictures
			.picture.history-four
			.picture.history-five
			.picture.history-six
	.join-us
		%h4 LoveRealm
		%p JOIN US TODAY
		= link_to 'Sign Up', home_path, class: 'join-btn'












