.careers.holder
	%h1= title 'Careers at LoveRealm'
	.careers-header
		%a{:href => "#openings"}
			.openings Find openings
		.strenghts Join our Team
	.strenghts-holder
		.strenghts-left
			.text
				%h4 The Culture of Love.
				%p Love runs through our blood. The scent of love runs through our offices. It's our central cultural theme. It's no wonder then that the staff at LoveRealm love each other as well what they do.
			.circle-img.first
		.strenghts-right
			.text
				%h4 Your code will change lives.
				%p No developer wants to write code for coding sake. We write code that matters. By working with LoveRealm, you've committed your life to the noble cause of working on a product that is touching lives and helping millions across the globe.
			.circle-img.second
		.strenghts-left
			.text
				%h4 Autonomy.
				%p We have full confidence in our staff and provide them with the autonomy and flexibility needed to work on projects. Very little interference comes from senior management.
			.circle-img.third
		.strenghts-right
			.text
				%h4 Incredible renumeration and perks.
				%p We do not promise heaven on earth. We're however Christian and believe that the workman deserves his wages [1 Timothy 5:18]. Our salaries are competetive, and we provide wonderful perks, remote working options, stock options, bonuses, etc.
			.circle-img.four
	.openings-holder#openings
		%h3 We currently have no job openings. Please check back later.



