.static-page-wrapper
	.video-wrapper
		%iframe{ width: 720, height: 500, src: 'https://www.youtube.com/embed/wxtwnqMlzyY', frameborder: 0,  allowfullscreen: true, class: 'video' }

	.row.video-list
		.col-md-3
			%a{href: 'https://www.youtube.com/watch?v=wxtwnqMlzyY', class: 'video-item', style: 'background-image: url(http://img.youtube.com/vi/wxtwnqMlzyY/hqdefault.jpg)', target: '_blank'}
		.col-md-3
			%a{href: 'https://vimeo.com/162148036', class: 'video-item', style: 'background-image: url(https://i.vimeocdn.com/video/564545485.webp?mw=960&mh=540)', target: '_blank'}

	%section
		%h1= title 'Frequently asked questions'

		%h2 1. How do I get started?

		%p This guide will teach you the basics of LoveRealm.

		%h4 What is LoveRealm?

		%p
			LoveRealm is a Christ centered social network built to connect Christians across the globe, and the only social network in the world with a built in mentorship platform in place.

		%h4 How is it Useful?

		%p On LoveRealm you can develop quality Christian friends who will help you in your walk with God. LoveRealm is a place where you will meet people who will help you deal with your weakness and burdens. We have several professional Christians ready to assist you in your walk with God. It’s a Holy Social network experience where you always get inspired and edified.

		%h4 How to start using LoveRealm

		%p 1. Find and Follow others. Look for pastors and Christian friends, people you know, Christian news outlets and follow them. You can make new friends on LoveRealm

		%p 2. Check your newsfeed. Once you’ve followed a few people and organizations, you’ll begin to see posts from them in your feed.

		%p 3. Start posting. Build a voice on LoveRealm, you can start posting your own pictures, status updates and stories.


		%h2 2. How do I log in into my LoveRealm account

		%p
			Visit
			= link_to 'www.LoveRealm.com', root_path
			\. Click on ‘Login’. You can enter your user name or password if you created your account via email. If your account was however created via Facebook or Google + simply click on the ‘Login via Facebook’ or ‘Login via Google +’ buttons.

		%h4 I cant login

		%p If you cant log into LoveRealm an need to reset your password:

		%ol
			%li
				Go to
				= link_to 'LoveRealm.com', root_path
			%li Click on ‘Login’ and click ‘Forgot your password?’
			%li Enter the e-mail address you used in registering your account.
			%li Your password reset instructions will be emailed to you.


		%h2 3. How to have an interesting experience

		%p The more you use LoveRealm, the more you’ll interact with Christians across the globe. Have an awesome experience by following as many users as relevant to topics of interest as possible.

		%p In case one of the people you follow becomes negative, annoying or harmful, you can simply unfollow them. Such users and their posts can also be reported to our staff to ensure that they do not ruin the experience of others.

		%h2 4. Will private conversations with counselors made public?

		%p No! We believe in privacy and confidentiality. Consequently, conversations with counselors are private and will never be disclosed to any third party.
