%section.search-page.row
  .col-sm-12.text-right
    %span.filterlabel Filter result by:
    %ul
      %li
        Stories
      %li.sep
      %li.active
        People
  .col-sm-11.search-heading-wrapper.col-sm-push-1
    %h1.search-heading Jesus Christ
= render 'shared/searchresultusers'