.press-new.holder
	.press-bg
		.play-btn
		.pause-btn
		.sound-btn
	.clearfix
		.pull-left.left-section
			%ul
				%li
					%a{:href => "#press"} Press
				%li
					%a{:href => "#links"} Links
				%li
					%a{:href => "#contact"} Contact
		.pull-left.right-section
			%aside
				#press
					%h1= title  'Press'

					%p Welcome to our press page. Over here, you will find relevant press coverage about LoveRealm as well as material which can be used in press coverage of LoveRealm in the media.

					.subheading We’re in the press

					%h4 A Christian social network site to launch in Ghana
					%p A Christian group in Ghana is launching what it calls a holy social network alternative to Facebook. Dr Yaw Ansong, co-founder of LoveRealm, says social networks are filled with nude content and violence and that their site would help those struggling to keep their Christian faith.

					%p Source: BBC

					%h4 Ghana get’s first ‘holy’ Facebook alternative
					%p Christians across Ghana and beyond can now experience a ‘sin-free’ Facebook alternative from the 9th of January, 2015. The web application developed by LoveRealm, a Ghanaian Christian organization is the first in the country to provide a social network that will be free from ‘unchristian’ content.

					%p Monday 4th January , 2016 7:32 pm
					%p Source: CitiFM

					.pub-links
						%p
							%a{href: 'http://pulse.com.gh/business/meet-the-boss-dr-yaw-ansong-challenging-facebook-with-faith-id4545844.html'} Dr. Yaw Ansong; Challenging Facebook with Faith

						%p
							%a{href: 'http://citifmonline.com/2015/09/15/citi-trends-episode-25-apple-and-samsung-share-spoils-vrs-christianity-battle-with-technology/'} Citi Trends Episode 25: Apple and Samsung share spoils vas Christianity battle with technology
							\- CitiFM on 15th September, 2015

						%p
							%a{href: 'http://citifmonline.com/2015/08/17/ghanaian-founder-of-christian-social-network-graduates-as-medical-doctor/'} Ghanaian founder of Christian social network graduates as medical doctor
							\- CitiFm on 17th August, 2015

						%p
							%a{href: 'http://pulse.com.gh/business/meet-the-boss-dr-yaw-ansong-challenging-facebook-with-faith-id4545844.html'} Christian Social Network Rebrands
							\- itnews Africa on 27th January, 2015

						%p
							%a{href: 'http://pulse.com.gh/religion/loverealm-org-ghanaian-christian-social-network-rebrands-id3439546.html'} Ghanaian Social Network Rebrands
							\- Pulse News on 27th January, 2015

						%p
							%a{href: 'http://www.enewsgh.com/2015/01/20/feature-sharing-the-gospel-using-technology/ '} Sharing the gospel using technology
							\- eNews on 20th January, 2015

						%p
							%a{href: 'http://accrareport.com/religion/sharing-the-gospel-using-technology/ '} Sharing the gospel using technology
							\- Accra Report on 6th August, 2014

						%p
							%a{href: 'http://www.cranchon.com/ghanaian-startup-aims-to-connect-christians-across-the-globe-with-the-launch-of-its-interactive-platform/'} Startup aims to connect Christians worldwide
							\- Cranchon on 23rd April, 2014

				.links#links
					%h3 Links
					%p
						PressKit:
						%a{href: 'https://www.dropbox.com/s/gfb161xhljzqd4l/Presskit.zip?dl=0'} www.dropbox.com
					%p
						Main Page:
						%a{:href => "http://www.loverealm.org"} www.loverealm.org
					%p
						Facebook:
						%a{:href => "http://www.facebook.com/LoveRealmMinistry"} www.facebook.com/LoveRealmMinistry
					%p
						Twitter:
						%a{:href => "http://www.twitter.com/LoveRealmSocial"} www.twitter.com/LoveRealmSocial
					%p
						Yaw Ansong's Website:
						%a{:href => "http://www.yawansong.com"} www.yawansong.com
				.contact#contact
					%h3 Contact Us
					%p Phone: +233269786555
					%p E-mail: yaw (at) loverealm.org
					%p Skype: loverealo






