.privacy-policy.holder
	%h1= title 'Privacy Policy'
	.privacy-policy-holder
		%h2
		%p
			%strong We value your privacy
			%br
			Then the disciples came to Jesus privately and said,
			%br"Why could we not drive it out?” Matthew 17:19
			There are several instances in scripture where information is kept private and confidential. The above scripture is just one of many. This is why We value your privacy and every information you share with us. The essence of this policy therefore is to ensure that you understand what information we collect and what it’s used for.
		%p
			%strong{:href => "#"} What kinds of information do we collect?
			%br
			1.	General: Portions of our site require you to provide personally identifiable information that may include your name, age, e-mail address, your weaknesses, birth date, etc.
			%br
			2.	Web site usage: We automatically collect web site usage information from you when you visit our site. This information helps us evaluate how our visitors use and navigate our web sites on an aggregate basis, including the number and frequency of visitors to each web page, the length of their visits, their browser type and their operating systems.Your networks and connections.
		%p
			%strong{:href => "#"} How do we use this information
			%br
			To communicate with you. We use your information to notify you of what is happening in our Christian community. We also use this information to send you marketing communications as well as information about our service, policies and terms.
			To improve existing features or develop new features, products and services by analyzing how site features are being used.

			Removing information you put on LoveRealm
			Information you put on LoveRealm will remain on LoveRealm as long as you wish. You can edit or delete any information you put on LoveRealm.
		%p
			%strong{:href => "#"} Cookies
			%br
			LoveRealm does not use cookies.
			How is your information shared
			Our service is used by Christians worldwide to connect with each other. We make this possible by sharing your information in the following ways:
			%br
			1. Sharing your information with people you choose to share and communicate with

			When you share and communicate using our service, you choose the audience who can see what you share. Private messages are kept private between the parties involved. Any other information you choose to share with your followers and public audience, including information in your public profile or content you share on LoveRealm is available to the public.

			In some cases, people you share and communicate with may download or re-share this content with others on and off our Service.

			%br
			2. People that see content others share about you.

			Other people may use our Service to share content about you with the audience they choose. For example, people may share a photo of you with their followers. If you have a problem with a post about you on LoveRealm, you can contact our community moderators to help resolve your issue.
		%p
			%strong{:href => "#"} Notification of changes
			%br
			This Privacy Policy may be revised over time as new features are added to LoveRealm or as Internet security and privacy standards evolve. We will post those changes prominently so that you will always know when we do modify our policy.
		%p
			%strong{:href => "#"} Your acceptance of these terms
			%br
			By using this site, you signify your acceptance of the terms of LoveRealm’s Privacy Policy. If you do not agree to the terms of this Privacy Policy, please do not use this social network. Your continued use of this network following the posting of changes to these terms will mean that you accept those changes.
		%p
			%strong{:href => "#"} Contacting us
			%br
			If you have any questions about this privacy policy, the practices of LoveRealm, or your dealings with LoveRealm, you can contact us at any time through our feedback page.

		.dates
			%p Date Last Revised:
			%p 14th October, 2015.






























