.terms.holder
	%h1= title 'Terms of Service'
	.terms-holder
		%h2 Statement of Rights and Responsibilities
		%p This Statement of Right and Responsibilities governs our relationship with users and others who interact with LoveRealm, its brand, product and service. By using or accessing LoveRealm, you agree to this Statement, as updated from time to time.
		%h4 1 Privacy
		%p We value your privacy. Our Privacy thus spells out important discussions about how we ensure and protect your privacy and confidentiality. We encourage that you read this policy.
		%h4 2 Sharing Your Content and Information
		%p You own all of the content and information you post on LoveRealm. You can control how your information is shared through your 'account' page. In addition:
		%ol
			%li For content that is covered by intellectual property rights, like photos and videos (IP content), you specifically give us the following permission: you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you post on or in connection with LoveRealm (IP license). This IP License ends when you delete your IP content unless your content has been shared with others, and they have not deleted it.
			%li When you delete IP content, it is deleted in a manner similar to emptying the recycle bin on a computer. However, you understand that removed content may persist in backup copies for a reasonable period of time (but will not be available to others).
			%li We always appreciate your feedback or other suggestions about LoveRealm, but you understand that we may use your feedback or suggestions without any obligation to compensate you for them (just as you have no obligation to offer them).
		%h4 3 Safety
		%p We do our best to keep LoveRealm safe and holy for Christians, we cannot however guarantee safety. We need your help to keep LoveRealm safe and holy. By using our network therefore, you are committed to the following safety rules:
		%ol
			%li You will not post unauthorized commercial communications (such as spam) on LoveRealm.
			%li You will not collect users' content or information, or otherwise access LoveRealm, using automated means (such as harvesting bots, robots, spiders, or scrapers) without our prior permission.
			%li You will not engage in unlawful multi-level marketing, on LoveRealm.
			%li You will not upload viruses or other malicious code.
			%li You will not solict login information or access an account belonging to someone else.
			%li You will not bully, intimidate, or harass any user; irrespective of their religious denomination or beliefs.
			%li We take objection to content that is hate speech, racist, threatening, or pornographic; incites violence; or contains nudity or graphic or gratuitous violence.
			%li 'Scribe's and Pharisees' are not allowed on our platform. We believe our righteousness comes from the free gift of Jesus Christ. Self righteousness is not encouraged on LoveRealm. Hate speech against people deemed to be 'sinners' is not encouraged. Our language is that of love.
			%li Whilst we encourage a language of love towards everyone, you agree not to promote any sinful /unholy lifestyle on LoveRealm
			%li You will not use LoveRealm to do anything unlawful, misleading, malicious, or discriminatory.
			%li You will not do anything that could disable, overburden, or imapir the proper working or appearance of LoveRealm, such as a denial of service attack or interference with page rendering or other LoveRealm functionality.
			%li You will not facilitate or encourage any violations of this Statement or our policies.
		%h4 4 Registration and Account Security
		%p You agree:
		%ol
			%li Not to provide any false personal information on LoveRealm, or create an account for anyone other than yourself without permission.
			%li Not to create another account without our permission, one we disable your account.
			%li Not to share your password, or let anyone else access your account, or do anything else that might jeopardize the security of your account.
			%li That if you select a username, we reserve the right to remove or reclaim it if we believe it is appropriate (such as when a trademark owner complains about a username that does not closely relate to a user's actual name).
		%h4 5 Protecting Other People's Rights
		%p We respect other people's rights, and expect you to do the same. You agree that:
		%ol
			%li You will not post content or take any action on LoveRealm that infringes or violates someone else's rights or otherwise violates the law.
			%li We can remove any content of information you post on LoveRealm if we believe that it violates this Statement of our policies.
			%li If we remove your content for infringing someone else's copyright, and you believe we removed it by mistake, we will provide you with an opportunity to appeal.
			%li If you repeatedly infringe other people's intellectual property rights, we will disable your account when appropriate.
			%li You will not use our copyrights or Trademarks or any confusingly similar marks, except with our prior written permission.
			%li You will not post anyone's identification documents or sensitive financial information on LoveRealm.
		%h4 6 Amendments
		%ol
			%li We'll notify you before we make changes to these terms and give you the opportunity to review and comment on the revised terms before continuing to use our Services.
			%li If we make changes to policies, guidelines or other terms referenced in or incorporated by this Statement, we may provide notice to you.
			%li Your continued use of LoveRealm, following notice of the changes to our terms, policies or guidelines, constitutes your acceptance of our amended terms, policies or guidelines.
		%h4 7 Termination
		%p If you violate the letter or spirit of this Statement, or otherwise create risk or possible legal exposure for us, we can stop providing all or part of LoveRealm to you. We will notify you at the next time you attempt to access your account.
		%h4 8 Disputes
		%ol
			%li These Terms and any action related thereto will be governed by the laws of Ghana without regard to or application of its conflict of law provisions or your state or country of residence. All claims, legal proceedings or litigation arising in connection with the Services will be brought solely in courts located in Ghana, and you consent to the jurisdiction of and venue in such courts and waive any objection as to inconvenient forum.
			%li If anyone brings a claim against us related to your actions, content or information on LoveRealm, you will indemnify and hold us harmless from and against all damages, losses, and expenses of any kind (including reasonable legal fees and costs) related to such claim. Although we provide rules for users conduct, we do not control or direct users' actions on LoveRealm and are not responsible for the content or information users transmit or share on LoveRealm. We are not responsible for any offensive, inappropriate, obscene, unlawful or otherwise objectionable content or information you may encounter on LoveRealm. We are not responsible for the conduct, whether online or offline, of any user of LoveRealm.
			%li WE TRY TO KEEP LOVEREALM UP, BUG-FREE, AND SAFE, BUT YOU USE IT AT YOUR OWN RISK. WE ARE PROVIDING LOVEREALM AS IS WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WE DO NOT GUARANTEE THAT LOVEREALM WILL ALWAYS BE SAFE, SECURE OR ERROR-FREE OR THAT LOVEREALM WILL ALWAYS FUNCTION WITHOUT DISRUPTIONS, DELAYS OR IMPERFECTIONS. LOVEREALM IS NOT RESPONSIBLE FOR THE ACTIONS, CONTENT, INFORMATION, OR DATA OF THIRD PARTIES, AND YOU RELEASE US, OUR DIRECTORS, OFFICERS, EMPLOYEES, AND AGENTS FROM ANY CLAIMS AND DAMAGES, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD PARTIES. WE WILL NOT BE LIABLE TO YOU FOR ANY LOST PROFITS OR OTHER CONSEQUENTIAL, SPECIAL, INDIRECT, OR INCIDENTAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH THIS STATEMENT OR LOVEREALM, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. OUR AGGREGATE LIABILITY ARISING OUT OF THIS STATEMENT OR LOVEREALM, WILL NOT EXCEED THE GREATER OF ONE HUNDRED DOLLARS ($100) OR THE AMOUNT YOU HAVE PAID US IN THE PAST TWELVE MONTHS. APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APLLY TO YOU. IN SUCH CASES, LOVEREALM'S LIABILITY WILL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY APLLICABLE LAW.
			%li
				LoveRealm does not examine, determine, or provide a warranty with respect to the competence of any mentor listed on our network. User agrees that User's use of this service to locate a mentor is wholly voluntary and the user further agrees that User's use of LoveRealm or a mentor, or reliance on the advice or direction of a mentor, shall not result in any liability against LoveRealm. With respect to all use of LoveRealm and the mentors listed herein, the user fully and voluntarily releases LoveRealm from any claim, demand or other legal action of any nature it has, had, or may have against LoveRealm related to the use of LoveRealm. In no event shall LoveRealm be liable for damages to any user of LoveRealm for the selection of any counselor, for the services provided by any listed mentor, or for any damages which may occur relating to the use of LoveRealm.
				%br
				%br
				Though we do our best to ensure that our mentors are of the highest standards, LoveRealm cannot and does not provide any warranties related to the information contained in an individual therapist/mentor's profile, nor the resulting services that may be provided by a listed mentor. All the information in the mentor's profile is provided by the mentor who has affirmed that the statements are true and that the information provided is not false, misleading, or deceptive. LoveRealm does not verify or warrant the accuracy of the listed license/certification/liability information. If interested, please check with the appropriate state regulatory body to confirm the currency and accuracy of all license/certification information. By performing using our mentoring service, User agrees that User understands and accepts the terms and conditions of LoveRealm as outlined above.

		.dates
			%p Date Last Revised:
			%p 14th October, 2015.


