.notification.col-md-6
  .notification-content.media
    = link_to dashboard_profile_path(activity.owner), class: 'media-left' do
      = image_tag activity.owner.avatar.url(:square), class: 'media-object user-avatar'

    .media-body
      .media-heading
        = link_to activity.owner.full_name, dashboard_profile_path(activity.owner), class: 'user-name'

      .notification-text
        - if activity.trackable
          added the #{link_to activity.trackable.content_type.downcase, dashboard_content_path(a.trackable)}
        - else
          added the story that is currently deleted.
