.admin {
  .main-wrapper {
    padding-top: 54px;
  }

  .wrapper {
    padding: 15px;

    h1 {
      margin: 0;
      font-size: 28px;
      margin-bottom: 20px;
    }
  }

  .half {
    width: 50%;
  }

  .field + .field {
    margin-top: 20px;
  }

  .inner-wrapper {
    max-width: 650px;
  }

  .field {
    textarea {
      width: 100%;
      box-sizing: border-box;
    }
  }

  table:not(.ui-datepicker-calendar) {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #A6AAB4;
    background-color: #FFF;
    border-collapse: collapse;
    font-size: 14px;
  }

  .table-w100 {
    width: 100%;
  }

  table:not(.ui-datepicker-calendar) td,
  table:not(.ui-datepicker-calendar) th {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  table:not(.ui-datepicker-calendar) thead {
    background-color: #fafbfb;
    color: #4E5054;
  }

  table:not(.ui-datepicker-calendar) tbody tr td:first-child {
    font-weight: bold;
    color: #696E7B;
  }

  table:not(.ui-datepicker-calendar) tbody tr td:last-child {
    color: #A6AAB4;
  }

  .global-stats {
    margin: 20px auto 40px;
  }

  .stat-counters {
    display: flex;
  }

  .stat-counter-item {
    width: 200px;
    padding: 10px;
    background-color: #fff;
    margin: 2px;
  }

  .stat-counter-key {
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
    color: #555;
  }

  .stat-counter-value {
    text-align: center;
    font-size: 26px;

    .stat-count-subvalue {
      font-size: 12px;
    }
  }

  .group-title {
    font-size: 16px;
    font-weight: bold;
  }

  .grey {
    color: #cbccc4;
  }
}
