.buttons {
	text-align: center;

}

.button {
	display: inline-block;
    color: #333;
    text-decoration: none;
    border: 2px solid $primary-color;
    font-family: arial, serif;
    padding: 6px 20px;
    font-size: 16px;
}

.button.button-lg {
	padding: 10px 30px;
}

.button.active, .button:hover {
	background-color: $primary-color;
	color: #fcfcfc;
}

.button + .button {
	margin-left: 10px;
}
