/**
 * Publish hashtag screen
 */


.hash-form {
	margin-top: 2em;
}

.hash-form__intro {
	color: $LR-deep-ash;
	font-size: $font-size-h3;
}

.hash-form__publish {
	margin-top: 10em;
}