/**
 * Report-user screen
 */

.report-user-screen {
	border-top: 4px solid $LR-red;
}

.report-user-screen__title {
	color: $LR-deep-ash;
	text-align:center;
}

.report-user-form__report {
	margin-top: 15em;
}