@media only screen and (max-width: 768px)  {
	.modal-open {
		.modal-header, .modal-body, .modal-footer {
			background-color: #d9d9d9;
		}

		.modal-header h4 {
			font-family: "Open Sans", Helvetica, Arial, sans-serif;
			font-size: 14px !important;
			line-height: 1.42857143;
			color: #333333;
		}

		.modal-dialog {
			width: 320px !important;
 		    left: 50%;
    		margin-left: -160px;
		}
	}
}